################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VisionaryCoder.Framework/.vs/VisionaryCoder.Framework
/VisionaryCoder.Framework/obj
